:root{
    --primary-color:#78B9B5;
    --secondery-color:#0F828C;
    --blue:#065084;
    --dark-blue:#320A6B;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  margin: 0;
  padding:0;
  font-family: josefin, sans-serif;
}

/* Navbar */
nav {
  position: sticky;
  top:0px;
  width:100%;
  height:90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondery-color);
  /* padding: 0px 80px; */
  z-index: 9999;
}
.logo{
    position: relative;
    top:40px;
    max-width: 150px;
    max-height:240px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  margin-right:30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding:15px 20px;
}

nav ul li a:hover{
    color:rgb(184, 182, 182);
    font-weight: 500;
}

.drop-down-list{
  display:none;
  position: absolute;
  top:65px;
  right:13px;
  background-color: var(--secondery-color);
  padding:20px 10px;
  font-size:14px;
  font-weight: 500;
}
.drop-down-list li{
  margin-bottom:15px;
}

.language{
  background-color:white;
  padding:0px 10px;
  width:fit-content;
  border-radius: 15px;
  margin-left:280px;
}
/* Sections */
.section {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  text-align: center;
  max-width:100%;
  min-height:90vh;
  transition: 2s ease;
  padding: 120px 0px;
}
.section.visible {
  opacity: 100;
  transform: translateY(0);
}

@media screen and (max-width:600px) {
  body{
    font-size:12px;
  }
  body h1{
    font-size:14px;
  }
  .language{
    margin-left: 0px;
    color:rgb(54, 54, 54);
    font-weight: 600;
  }
  .section{
    max-width:600px;
  }
  .employee{
    width:40px;
  }

  .landing{
    background-position: center;
  }
  .paragraph{
  left:12px;
  top:30%;
}
}

.landing{
  overflow: hidden;
  position: relative;
  height: calc(100vh - 90px);
  width:100%;
  background-image: url(./img/doctor-8264057_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-image{
    width: 45%;
    height: 150%;
    background: url(./img/doctor-8264057_1280.jpg) no-repeat content-box;
    filter: blur(10px);
    position: absolute;
    top: 0px;
}
.paragraph{
  position:absolute;
  left:20px;
  top:30%;
  color: white;
  font-weight: bolder;
  text-align: center;
}


.paragraph p{
  font-size: 35px;
  color: var(--secondery-color);
  margin-top: 50px;
  letter-spacing: 6px;
}

#services img{
  width:20%
}

#services .card{
  box-shadow: 5px 3px 15px rgb(142, 171, 193);
  border-radius: 15px;
  padding:40px 20px;
  margin-bottom: 40px;
}

.card{
  margin:10px 20px;
  max-width:400px;
}

.card-text{
  margin-top:20px;
  color:var(--secondery-color);
  font-weight: 800;
}

.card-text h1{
  font-size:24px;
  letter-spacing: 4px;
}

.card-text p{
  margin-top: 10px;
}

#staff{
  background-color: var(--blue);
  padding: 50px 0px;
  z-index:300;
}


.employee{
    width: 270px;
    border-radius: 16px;
    min-height: 296px;
    padding: 10px;
    margin: 26px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid #7e7d7d;
    color: #FFCB61;
}

.emp--img img{
  width:60px;
  border-radius: 100px;
  margin-bottom: 30px;
  align-self: center;
}

.emp--name{
  font-size:20px;
  font-weight: 700;
}

.emp--role{
  font-size:18px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media only screen and (max-width:600px)
{
  .employee{
    width:140px;
  }
  .emp--img img{
  width:20px;
  border-radius: 100px;
  margin-bottom: 10px;
  align-self: center;
}

.emp-text{
  max-width:250px
}

.emp--name{
  font-size:15px;
  font-weight: 500;
}

.emp--role{
  font-size:14px;
  font-weight: 500;
  margin-bottom: 10px;
}
}

#contact{
  background-color: var(--primary-color);
}

.contact-info{
  text-align:start;
}
@media screen and (max-width:600px) {
  .contact-info{
    text-align: center;
  }
}
.contact-info div{
  color:white;
}
.contact-info .arabic{
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
.contact-info h1{
  font-size:30px;
  font-weight: 700;
}

.contact-info p{
  font-size:18px;
  font-weight: 600;
  margin-bottom: 20px;
}






